<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>

  </head>
  <body>
    <div th:fragment="nav" >
      <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div>
			<img alt="" id="image" src="/images/avatar.png" class="img-fluid"
				width="150px">
		</div>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" th:href="@{/site/products}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/site/products/cart}">Manage Shopping Cart</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" th:href="@{/alogout}">Logout</a>
            </li>
            <li class="nav-item float-right">
              <a class="nav-link text-primary"  th:text="${#httpSession.getAttribute('username')}"></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
  </body>
</html>